<div ng-controller="GameController">
  <ion-button type="button" id="lobby" ng-click="toLobby()">Lobby</ion-button>
  
  <div ng-if="gameBoard">
    <div ng-if="query.title">
      <h3>Total Score: {{scoreBoard.total}}</h3>
      <h3>Round Score: {{scoreBoard.roundScore}}</h3>
      <h3>Round: {{scoreBoard.round}} </h3>
      <h3>Time Remaining: {{counter}}</h3>
      <div>Complete the Search: {{query.title}}</div>
      <div ng-repeat="response in query.responses track by $index">{{$index + 1}}<span ng-if="queryAnswer[$index]"> {{response}} </br></span></div>
    </div>

    <form name="GuessMachine" ng-submit="makeGuess()">
      <input type="text" placeholder='Make Guess' ng-model="data.guess">
        <button> Make Guess</button>
    </form>
  </div>
  <div ng-if="lightningRound">
    <h3>Time Remaining: {{counter}}</h3>
    <h3>Your Score: {{scoreBoard.total}}</h3>
    <h3> Guess the number one answer!! {{query.title}} </h3>
    <div ng-if="showRound" ng-repeat="response in query.choices track by $index" ng-click="checkAnswer(response)">
      <div class="choiceBox"> 
        <span class="choice"> {{response}} </span>
      </div> 
      </br>
    </div>
  </div>
      <h3> Opponent Name: {{scoreBoard.opponentName}} </h3>
      <h3> Opponent Score: {{scoreBoard.opponentScore}} </h3>
</div>