<ion-view view-title="game">
  <ion-content class="padding">
  <ion-a class="button" ng-click='home()'>Home</ion-a>
  <div ng-if="gameBoard">
    <div ng-if="query.title">
      <h3>Total Score: {{scoreBoard.total}}</h3>
      <h3>Round Score: {{scoreBoard.roundScore}}</h3>
      <h3>Round: {{scoreBoard.round}} </h3>
      <h3>Time Remaining: {{counter}}</h3>
      <div>Complete the Search: {{query.title}}</div>
      <div ng-repeat="response in query.responses track by $index">{{$index + 1}}<span ng-if="queryAnswer[$index]"> {{response}} </br></span></div>
    </div>

    <form name="GuessMachine" ng-submit="makeGuess()">
      <input type="text" placeholder='Make Guess' ng-model="data.guess">
        <button> Make Guess</button>
    </form>
  </div>
  <div ng-if="lightningRound">
    <h3>Time Remaining: {{counter}}</h3>
    <h3>Your Score: {{scoreBoard.total}}</h3>
    <h3> Guess the number one answer!! {{query.title}} </h3>
    <div ng-if="showRound" ng-repeat="response in query.choices track by $index" ng-click="checkAnswer(response)">
      <div class="choiceBox"> 
        <span class="choice"> {{response}} </span>
      </div> 
      </br>
    </div>
  </div>
  <div ng-if="resultBoard">
     <h2> Your Score: {{scoreBoard.total}} <h2>
      <h2> Opponent's Score: </h2>
     <h2> Question: {{query.title}} <h2>
    <div ng-repeat="response in query.choices track by $index">
      <h4>{{$index + 1}}. {{response}}</h4>
    </div>
  </div>


</ion-content>
</ion-view>