
<!-- <ion-view view-title="friends" ng-init="init()">
    <ion-content class='padding'>
        <ion-span>{{profileData}}</ion-span>
        

    </ion-content>
</ion-view> -->

<ion-view view-title="friends" ng-init="init()">
    <ion-content class="has-header">
    <div ng-repeat="friend in user.friends | orderBy: '-name'" ng-click="challenge(friend)">
        <img class='photo' ng-src="https://graph.facebook.com/{{ friend.id }}/picture?width=75&height=75" />
        <span ng-click="play(friend)"> {{friend.name}} </span>
    </div>
        <div class="list card">
            <div class="item">
                <h2>{{user.name}}</h2>
                <p>{{user.userID}}
            </div>
            <div class="item item-body">
                <img ng-src="https://graph.facebook.com/{{ user.userID }}/picture?width=100&height=100" />
            </div>
        </div>
        <ion-a class="button" ng-click='home()'>Home</ion-a>
    </ion-content>
</ion-view>