
<!-- <ion-view view-title="friends" ng-init="init()">
    <ion-content class='padding'>
        <ion-span>{{profileData}}</ion-span>
        

    </ion-content>
</ion-view> -->

<ion-view view-title="friends" ng-init="init()">
    <ion-content class="has-header">
    <ion-list>
    <ion-item ng-repeat="friend in user.friends | orderBy: '-name'" ng-click="challenge(friend)"><img class='photo' ng-src="https://graph.facebook.com/{{ friend.id }}/picture?width=50&height=50" /> 
        <span ng-click="play(friend)"> {{friend.name}} </span>
    </ion-item>
  </ion-list>
        
        <ion-a class="button" ng-click='home()'>Home</ion-a>
    </ion-content>
</ion-view>